.profile-img-small {
    width: 30px;
    height: 30px; 
  }
  
.photo-profile-img-small {
    width: 80px;
    height: 80px; 
}
.img-thumbnail {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
}

.footer {
  position:absolute;
  width: 100%;
  bottom: 0;
}