{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

<div id="exTab1" class="container">	
    <ul  class="nav nav-tabs">
        <li>
            <a  href="#1a" class="nav-link active" data-toggle="tab">Utilisateur</a>
        </li>
        <li>
            <a href="#2a" class="nav-link" data-toggle="tab">GIF</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            {{ include("admin/_user.html.twig", {'users': users}) }}
        </div>

        <div class="tab-pane" id="2a">
            {{ include("admin/_gif.html.twig", {'gifs': gifs}) }}
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</div>
{% endblock %}
