<div class="container mt-5">
    <form method="post" action="{{ path('app_gif_delete', {'id': gif.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer ce gif?');" class="text-center">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gif.id) }}">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de supprimer ce gif?')">Supprimer</button>
    </form>
</div>
