{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau message{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau message</h1>

        {{ include('message/_form.html.twig') }}

        <a class="btn btn-dark mt-3" href="{{ path('app_message_index') }}">Back to List</a>
    </div>
{% endblock %}
