{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block javascripts %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block body %}
    <h1 class="text-3xl p-3 font-bold">Conditions Générales d'Utilisation (CGU) - GIF</h1>

    <div class="flex flex-col gap-2 px-5 pb-5">

        <p>Dernière mise à jour: Le 5 Décembre 2023</p>

        <h3 class="font-bold text-xl">I. Acceptation des Conditions</h3>
        <p class="ml-3">En utilisant le site web de GIF, vous acceptez de vous conformer aux présentes Conditions Générales d'Utilisation (CGU) et à notre Politique de Confidentialité. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Site.</p>

        <h3 class="font-bold text-xl">II. Description du Service</h3>
        <p class="ml-3">Le Site propose une plateforme permettant aux utilisateurs de parcourir et télécharger des GIFs. Tout le contenu, y compris les GIFs, les textes, les images, les vidéos et toute autre information affichée sur le Site, est fourni à titre informatif et de divertissement seulement.</p>
      

        <h3 class="font-bold text-xl">III. Comptes Utilisateur</h3>
        <p>a. Lors de la création d'un compte utilisateur, vous devez fournir des informations exactes et complètes. Vous êtes responsable de maintenir la confidentialité de vos informations de compte et de votre mot de passe.</p>
        <p>b. Vous êtes responsable de toutes les activités sur votre compte. Si vous suspectez une utilisation non autorisée de votre compte, vous devez nous en informer immédiatement.</p>

        <h3 class="font-bold text-xl">IV. Contenu de l'Utilisateur</h3>
        <p class="ml-3">a. En soumettant du contenu (y compris des GIFs) sur le Site, vous accordez à Librairie de GIF une licence non exclusive, libre de redevance, mondiale et perpétuelle pour utiliser, modifier, afficher, reproduire et distribuer ce contenu sur le Site et à des fins promotionnelles.</p>
        

        <h3 class="font-bold text-xl">V. Propriété Intellectuelle</h3>
        <p class="ml-3">a. Le contenu du Site, y compris les logos, les textes, les images, les vidéos et les marques, est protégé par des droits de propriété intellectuelle. Vous acceptez de respecter ces droits.</p>
        <p class="ml-3">b. Vous ne pouvez pas copier, modifier, distribuer ou reproduire le contenu du Site sans autorisation écrite.</p>

        <h3 class="font-bold text-xl">VI. Limitation de Responsabilité</h3>
        <p class="ml-3">Nous ne pouvons pas garantir l'exactitude, la disponibilité ou la sécurité du contenu du Site. Vous utilisez le Site à vos propres risques.</p>

        <h3 class="font-bold text-xl">VII. Résiliation</h3>
        <p class="ml-3">Nous nous réservons le droit de résilier ou de suspendre votre compte et l'accès au Site à tout moment, pour quelque raison que ce soit, sans préavis.</p>

        <h3 class="font-bold text-xl">VIII. Modifications des CGU</h3>

        <p class="ml-3">Nous pouvons modifier ces CGU à tout moment. Les modifications prendront effet dès leur publication sur le Site. Il est de votre responsabilité de consulter régulièrement ces CGU.</p>

        <h3 class="font-bold text-xl">IX. Loi Applicable</h3>

        <p class="ml-3">Ces CGU sont régies par les lois en vigueur en France. Tout litige découlant de ces CGU sera soumis à la compétence exclusive des tribunaux Français.</p>

        <h3 class="font-bold text-xl">X. Contact</h3>

        <p class="ml-3">Si vous avez des questions ou des préoccupations concernant ces CGU, veuillez nous contacter via notre page de contact.</p>
    </div>
{% endblock %}